@tailwind base;
  @tailwind components;
  @tailwind utilities;
  
  * {
    box-sizing: border-box;
  }
  body {
    font-family: 'Ballet', sans-serif;
  }
   

  .fade{
    position: relative;
  }

  .fade:after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    pointer-events: none;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(38,43,73, 1) 90%);
    width: 100%;
    height: 4em;
  }
  @layer base {
    :root {
      --color-background-padding: 116deg 100% 50%;
    }
    @media (prefers-color-scheme: dark) {
      :root {
        --color-background-padding: 255deg 100% 50%;
      }
    }
    :root[data-theme="dark"] {
      --color-background-padding: 255deg 100% 50%;

    }
  }
