@tailwind base;
  @tailwind components;
  @tailwind utilities;
  
  * {
    box-sizing: border-box;
  }
  body {
    font-family: 'Ballet', sans-serif;
  }
   

  .fade{
    position: relative;
  }

  .fade:after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    pointer-events: none;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(38,43,73, 1) 90%);
    width: 100%;
    height: 4em;
  }


  @layer base {
    :root {
      --primary: #FFFFFF;
      --primary-light: #e2e2e2;
      --secondary: #EFF3F5;
      --secondary-light: #FFFFFF;
      --secondary-hover: #d6dadc;
      --background: #F2F2F4;
      --background-padding: #fff;
      --text-primary: #5C5C5C;
      --text-secondary: #858585;
      --text-button: #FFFFFF;
      --accent: #E04DDA;
      --button: #1E90F9;
      --button-dark: #1667b3;
      --success: #5DB38F;
      --success-light: #ABEBD0;
      --failure: #FF7A93;
      --failure-dark: #68343D;
      --failure-light: #FFB1C0;
      --red: #c43838;
      --blue: #257aab;
      --navfoot: #fff;
      --link: #1E90F9;

      --house-overlay: 0;
    }
    @media (prefers-color-scheme: dark) {
      :root { 
      --primary: #262B49;
      --primary-light: #3F4774;
      --secondary: #333959;
      --secondary-light: #474D70;
      --secondary-hover: #404562;
      --background: #0E1824;
      --background-padding: #1A1E37;
      --text-primary: #FFFFFF;
      --text-secondary: #D6D7DE;
      --text-button: #FFFFFF;
      --accent: #E04DDA;
      --button: #4B5173;
      --button-dark: #404562;
      --success: #5DB38F;
      --success-light: #ABEBD0;
      --failure: #FF7A93;
      --failure-dark: #68343D;
      --failure-light: #FFB1C0;
      --red: #A22C2C;
      --blue: #1B5E84;
      --navfoot: #3A4063;
      --link: #43D2FF;

      --house-overlay: 0.5;
      }
    }
    :root[data-theme="dark"] {
      --primary: #262B49;
      --primary-light: #3F4774;
      --secondary: #333959;
      --secondary-light: #474D70;
      --secondary-hover: #404562;
      --background: #0E1824;
      --background-padding: #1A1E37;
      --text-primary: #FFFFFF;
      --text-secondary: #D6D7DE;
      --accent: #E04DDA;
      --button: #4B5173;
      --button-dark: #404562;
      --success: #5DB38F;
      --success-light: #ABEBD0;
      --failure: #FF7A93;
      --failure-dark: #68343D;
      --failure-light: #FFB1C0;
      --red: #A22C2C;
      --blue: #1B5E84;
      --navfoot: #3A4063;
      --link: #43D2FF;
      
      --house-overlay: 0.5;
    }
    
  }
